<div id="<%= dom_id application %>">
  <p>
    <strong>Apprentice:</strong>
    <%= application.apprentice_id %>
  </p>

  <p>
    <strong>Apprenticeship:</strong>
    <%= application.apprenticeship_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= application.status %>
  </p>

</div>
