<h1>Editing apprenticeship</h1>

<%= render "form", apprenticeship: @apprenticeship %>

<br>

<div>
  <%= link_to "Show this apprenticeship", @apprenticeship %> |
  <%= link_to "Back to apprenticeships", apprenticeships_path %>
</div>
