<p style="color: green"><%= notice %></p>

<h1>Apprenticeships</h1>

<div id="apprenticeships">
  <% @apprenticeships.each do |apprenticeship| %>
    <%= render apprenticeship %>
    <p>
      <%= link_to "Show this apprenticeship", apprenticeship %>
    </p>
  <% end %>
</div>

<%= link_to "New apprenticeship", new_apprenticeship_path %>
